  <footer>

    <div class="main-black-footer">
      <div class="cover_container ">
        <div class="footer-header"> <span class="blue"> Javaswag </span> — рассылка и телеграм-канал интересных  и&nbsp;полезных статей из мира Java</div>
          <div class="col-5" style="padding-top: 45px">
            <div class="footer-text-1">Подписывайся, будет круто</div>
            <div class="footer-text-2">По почте: </div>
            <div style="overflow: hidden">
              <input class="footer-input">
              <button class="btn-footer">Подписаться</button>
            </div>
            <div class="footer-text-2" style="float: left">Или в телеграме:&nbsp; </div>
            <div class="footer-text-2 footer-link" style="float: left">  https://t.me/javaswag</div>
          </div>
          <div class="col-5" style="padding-top: 45px">
            <div class="footer-text-1">Присылай интересные статьи по Java</div>
            <div class="footer-text-2">Мы добавим их в рассылку если они реально классные</div>
            <div style="position: relative">
            <input class="footer-input2">
            <img src="/img/send_icon.png" style="position: absolute; float: left; top: 15px; left: 357px;">
            </div>
          </div>
          <div class="col-2" style="padding-top: 45px">
            <img src="/img/kabanchic.png">
            <div class="footer-text-2" style="font-size: 12px;">Платное размещение рекламы — volyihin@gmail.com</div>

          </div>
      </div>
    </div>

  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ . | markdownify }}
  {{ end }}
  </footer>
  </body>
</html>
